.movie {
    margin: 1rem;
    padding: 1rem;
    background-color: #13e76722;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    text-align: center;
    color: rgb(241, 160, 7);
  }